* {
    /* padding: 0;
    margin: 0;
    box-sizing: border-box; */
    scroll-behavior: smooth;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    margin-top: 0rem;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 3rem;
}
.list ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
.rd {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.button {
    padding: 10px 20px;
    background-color: whitesmoke;
    color: blue;
    border: .5px solid blue;
    border-radius: 8px;
}
.Register {
    padding: 10px 20px;
    background-color: rgb(54, 54, 249);
    color: whitesmoke;
    border: .5px solid blue;
    border-radius: 8px;
}
.rd i {
    font-size: 20px;
}
.dropmenu {
    top: 60px;
    position: absolute;
    width: 250px;
    background-color: aliceblue;
    overflow: hidden;
    display: none;
    text-align: center;
    height: 0;
}
.dropmenu.open {
    height: 100vh;
    width: 250px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    z-index: 1000;
}
.dropmenu .button .Register {
    width: 360px;
}
.dropmenu li {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu {
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: gray;
    padding: 2rem;
    color: white !important;

}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 20px !important;
}

.content {
    text-align: center;
    margin-top: 2rem;
    line-height: 2rem;
}

/* .content h2 {
    font-size: 40px;
} */

.content h3 {
    width: 100%;
    font-size: 17px;
}
.firstwrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:3rem ;
    /* max-width: 1200px; */

}
.flex-wrap h3{
    width: 200px;
    margin-bottom: .3rem;
}
.wrapperr{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    padding: 0 2rem;
    margin-bottom: 1.5rem;
    align-items: center;
    gap: 2rem;
}
.flex-wrap{
    padding: 27px 40px;
    justify-content: center;
    display: flex;
    flex-direction: column;

    background-color: rgba(255,255,255,0);
    box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    
}
.flex-wrap div{
    margin-bottom: .5rem;
}
.secondwrap{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    padding: 0 2rem;
}
.word {
    width: 260px;
}
.box{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    
}
.box-wrapper{
    max-width: 1200px;
    padding: 75px 90px ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgb(16, 16, 107);
    text-align: center;
    border-radius: 20px;
    gap: 2rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}
.span-{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .8rem;
}
.span- h3{
    font-size: 33px;
    font-weight: 900;
}
.span--{
  
}

.box-wrapper p{
    font-size: 12px;
}



.container {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;


}

.all {
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    max-width: 1400px;
    column-gap: 50px;
    padding: 0 2rem;
}

h1 {
    margin: 30px;
    text-align: center;
}


.Notes {
    text-align: center;

    font-size: 25px;
    /* font-weight: bold; */

    /* margin-right: 170px; */

}

h3 {
    margin-top: 20px;
}

.txt {
    text-align: center;
    width: 380px;
    font-size: 20px;
    font-weight: lighter;
    color: rgb(44, 39, 39);
    margin-right: 20px;
}

.wrap1 {
    /* padding: 40px 32px 40px 32px; */
    width: 320px;
}

.img1 img {
    width: 267px;
    margin-top: 20px;
}

.img1 {
    background: #FFE4E5;
    box-shadow: 5px 4px 25px rgba(145.08, 195.47, 240.12, 0.05);
    border-radius: 15px;
    justify-content: center;
    width: 100%;
    align-items: center;
    display: inline-flex;
    margin-bottom: 10px;
    box-sizing: border-box;



}

.img2 img {
    width: 267px;
    margin-top: 20px;
}

.img2 {
    background: #E6EFF7;
    box-shadow: 5px 4px 25px rgba(145.08, 195.47, 240.12, 0.05);
    border-radius: 15px;
    justify-content: center;
    width: 100%;
    align-items: center;
    display: inline-flex;
    margin-bottom: 10px;
    box-sizing: border-box;

}

.img3 img {
    width: 267px;
    margin-top: 20px;
}

.img3 {




    background: #628052;
    box-shadow: 5px 4px 25px rgba(145.08, 195.47, 240.12, 0.05);
    border-radius: 15px;
    justify-content: center;
    width: 100%;
    align-items: center;
    display: inline-flex;
    margin-bottom: 10px;
    box-sizing: border-box;


}

.img4 img {
    width: 267px;
    margin-top: 20px;
}

.img4 {
    background: #87AFD2;
    box-shadow: 5px 4px 25px rgba(145.08, 195.47, 240.12, 0.05);
    border-radius: 15px;
    justify-content: center;
    width: 100%;
    align-items: center;
    display: inline-flex;
    margin-bottom: 10px;
    box-sizing: border-box;


}

.img5 img {
    width: 267px;
    margin-top: 20px;
}

.img5 {
    background: #4C7E7A;
    box-shadow: 5px 4px 25px rgba(145.08, 195.47, 240.12, 0.05);
    border-radius: 15px;
    justify-content: center;
    width: 100%;
    align-items: center;
    display: inline-flex;
    margin-bottom: 10px;
    box-sizing: border-box;


}

.img6 img {
    width: 267px;
    margin-top: 20px;
}

.img6 {
    background: #E897A0;
    box-shadow: 5px 4px 25px rgba(145.08, 195.47, 240.12, 0.05);
    border-radius: 15px;
    justify-content: center;
    width: 100%;
    align-items: center;
    display: inline-flex;
    margin-bottom: 10px;
    box-sizing: border-box;

}

.btn{
    border-radius: 25px;
    height: 50px;
    width: 45%;
    margin-right: 150px;
    margin-bottom: 20px;
    color: black;
    border: 3px solid black;
    margin-top: 20px;
    background-color: white;
    font-weight: 300;
}
.btn:hover{
    color: red;
    border: 2px solid red;
}

.content {
    margin-right: 1px;
    /* margin-top: ; */
}




.h1{
    text-align: center;
}
.d-wrapper h2{
    line-height: 30px;
}
.d-wrapper h5{
    line-height: 20px
}
.d-wrapper .img1 img, .d-wrapper .img2 img{
    width: 267px;
    height: 200px;
}
.d-wrapper .img1{
    background: #F2DA6D;
    box-shadow: 5px 4px 25px rgba(145.08, 195.47, 240.12, 0.05);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    margin-bottom: 10px;
}
.d-wrapper .img2{
    background: rgba(229, 53, 64, 0.90);
    box-shadow: 5px 4px 25px rgba(145.08, 195.47, 240.12, 0.05);
    border-radius: 15px;
    justify-content: flex-end;
    align-items: center;
    display: inline-flex;
    margin-bottom: 10px;
}
.d-wrapper .img3{
    background: rgba(26, 105, 175, 0.50);
    box-shadow: 5px 4px 25px rgba(145.08, 195.47, 240.12, 0.05);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 267px;
    height: 200px;
    background-size: cover;
    background-image: url(./fizkes190500530-removebg-preview-1.webp);
}
.but{
    padding: 3% 5%;
    border-radius:20px ;
    border: 2px solid black;
}
.but:hover{
    border: 2px solid red;
    color: red;
}
.d-wrapper{
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    margin-top: 5%;
}
.body2{
    margin-top: 18%;
    background-color: rgb(18, 18, 110);
    color: white;
    background-image: url(./Vector.png);
    background-repeat: no-repeat;
    background-size: 300px;
}
.review{
       margin-left:20%;
       display: flex;
       gap: 1rem;
}
.tho{
    margin-left:25%;
    margin-top: -3%;
    color: #848481;
}
.body2{
    padding: 4% 0% 10% 0%;
}
.body2 h4{
    margin-left:20%;
    margin-top: 5%;
}
.d-wrap h3{
    text-align: center;
}
.d-wraph3{
    padding-top: 3%
}
.d-wrap h1{
    text-align: center;
}
.review img{
    width: 50px;
    border-radius: 50px;
}
footer{
      display: flex;
      justify-content: center;
      margin-top: 7%;
}
.footer{
    background-color: rgb(30, 30, 179);
    text-align: center;
    width: 90%;
    border-radius: 20px;
    height: 43vh;
    color: white;
    padding: 2%;
}

.d-input{
    position: relative;
    padding: 20px 10px;
    width: 30%;
    border: none;
    border-radius: 5px;
    margin-left: 10%;
}
.boxx .button{
    left: -110px;
    background-color: red;
    border: none;
    position: relative;
    padding: 15px 30px;
    color: white;
    border-radius: 5px;
}
#last{
    background-color: black;
    color: white;
    margin-top:7%;
}
.d-first{
    display: flex;
    gap: 4rem;
    padding: 2% 2%;
}
.d-icons{
    width: 20px;
    display: flex;
    gap: 1rem;
}
hr{
    width: 95%;
    position: relative;
} 
.pass{
    text-align: center;
    margin-top: 3%;
}
a{
    text-decoration: none;
    color: white;
}
.related-links h3:hover{
    color: red;
    transition: .5s;
}
.related-links a:hover{
    color: red;
    transition: .5s;
}
.class-notes a:hover{
    color: red;
    transition: .5s;
}
.Exams a:hover{
    color: red;
    transition: .5s;
}
.about h4{
    line-height: 180%;
}
@media screen and (max-width:425px){
    #last{
        margin-top: 10%;
    }
    .boxx .button{
        margin-left: 80%;
        padding: 3% 7%;
        margin-top: 4%;
    }
    .footer{
        height: 55vh;
        width: 70%;
        font-size: 10px;
    }
    .d-input{
        width: 50%;
        padding: 10px 30px;
    }
    .d-first{
        display: inline;
    }
    #last{
        padding: 10%;
    }
    .pass{
        padding: 3%;
    }
    .class-notes{
        margin-top: 20%;
    }
    .related-links{
        margin-top: 20%
    }
    .Exams{
        margin-top: -90%;
        margin-left: 130px;
    }
    .follow-us{
        margin-top: 20%;
    }
    .swiper-button-next,
.swiper-button-prev {
    background-color: gray;
    padding: .5rem;
    color: white !important;
}
button {
    visibility: visible;
}
}
@media (min-width:426px) and (max-width:768px){
    .d-first{
        display: inline;
        gap: 0rem;
    }
    #last{
        padding: 10%;
    }
    .pass{
        padding: 0%;
    }
    .follow-us{
        margin-top: 0%;
    }
    .footer{
        width: 100%;
        font-size: 10px;
    }
    .d-input{
        width: 40%;
    }
}

@media (max-width: 992px) {
    .list {
        display: none;
    }

    .menu {
        display: flex;
        gap: 1rem;
    }

    .dropmenu {
        display: block;
    }

    button {
        display: none;
    }

    .navbar i {
        display: none;
    }

    .dropmenu .button {
        display: block;
        margin-top: .5rem;
    }

    .menu i {
        display: inline-block;
    }

    .list ul {
        display: flex;
        gap: 2rem;
    }
    .content {
        /* text-align: center; */
        margin-top: 2rem;
        line-height: 2rem;
    }
    
    .content h2 {
        font-size: 30px;
    }
    
    .content h3 {
        width: 100%;
        font-size: 12px;
    }
}